<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>Encore tracks down all the photos and videos created at concerts</string>
		<key>text</key>
		<string>So you can relive your shows whenever you want</string>
		<key>image</key>
		<string>login1</string>
	</dict>
	<dict>
		<key>header</key>
		<string>We&apos;ll find all the local gigs around you</string>
		<key>text</key>
		<string>Never miss your favourite artist again</string>
		<key>image</key>
		<string>login2</string>
	</dict>
	<dict>
		<key>header</key>
		<string>Live music experiences are better with friends, and your concert app is too</string>
		<key>text</key>
		<string>Share your concerts with your friends</string>
		<key>image</key>
		<string>login3</string>
	</dict>
</array>
</plist>
