<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>Check out the photos and videos from your past concerts</string>
		<key>text</key>
		<string></string>
		<key>image</key>
		<string>login1</string>
	</dict>
	<dict>
		<key>header</key>
		<string>Find the best upcoming shows happening around you</string>
		<key>text</key>
		<string></string>
		<key>image</key>
		<string>login2</string>
	</dict>
	<dict>
		<key>header</key>
		<string>Share your concert experiences with friends</string>
		<key>text</key>
		<string></string>
		<key>image</key>
		<string>login3</string>
	</dict>
</array>
</plist>
